<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.possible.board.mapper.QnaMapper">

	<!-- 검색 기능 -->
	<sql id="criteria">
		<trim prefix="(" suffix=")" prefixOverrides="OR">
        	<foreach collection="typeArr" item="type">
            	<trim prefix="OR">
            		<choose>
				    	<when test="type == 'T'.toString()">
				        	TITLE LIKE '%' || #{keyword} || '%'
				        </when>
            		</choose>
            	</trim>
            </foreach>
    	</trim>
	</sql>

	<!-- 답변 수 업데이트 -->
	<update id="updateAnswerCnt">
		UPDATE QNA
		SET ANSWER_CNT = ANSWER_CNT + #{amount}
		WHERE SEQ = #{seq}
	</update>

	<select id="getList" resultType="QnaVO">
		SELECT SEQ
			 , TITLE
			 , CONTENT
			 , WRITER
			 , STATUS
			 , GEN_DATE
			 , UPT_DATE
			 , ANSWER_CNT
		FROM (
			 SELECT 
             /*+ INDEX_DESC(QNA IDX_QNA) */ 
             	ROWNUM RN
             	, SEQ
             	, TITLE
             	, CONTENT
             	, WRITER
             	, STATUS
             	, GEN_DATE
             	, UPT_DATE
             	, ANSWER_CNT
             FROM QNA
             <where> 
                <include refid="criteria"></include>
                <![CDATA[   AND ROWNUM <= #{pageNum} * #{amount} ]]>
             </where>
			 )
		WHERE RN > (#{pageNum} - 1) * #{amount}
		ORDER BY SEQ DESC
	</select>

	<select id="read" resultType="QnaVO">
		SELECT SEQ
			 , TITLE
			 , CONTENT
			 , WRITER
			 , STATUS
			 , GEN_DATE
			 , UPT_DATE
			 , ANSWER_CNT
		FROM QNA
		WHERE SEQ = #{seq}
	</select>

	<insert id="insert">
		<selectKey keyProperty="seq" resultType="long" order="BEFORE">
			SELECT SEQ_QNA.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO QNA ( SEQ
						, TITLE
						, CONTENT
						, WRITER
						, MEM_SEQ)
		VALUES ( #{seq}
			   , #{title}
			   , #{content}
			   , #{writer}
			   , #{memSeq})
	</insert>

	<update id="update">
		UPDATE QNA
		SET TITLE = #{title}
		  , CONTENT = #{content}
		  , WRITER = #{writer}
		  , UPT_DATE = SYSDATE
		WHERE SEQ = #{seq}
	</update>
	
	<delete id="delete">
		DELETE FROM QNA
		WHERE SEQ = #{seq}
	</delete>
	
	<select id="getTotalCount" resultType="int">
		SELECT COUNT(*)
		FROM QNA
			<where>
				<include refid="criteria"></include>
			</where>
	</select>
	
	<!-- 마이페이지 문의 조회 -->
	<select id="getMyQna" resultType="QnaVO">
	select seq, content, writer, status, gen_date, upt_date, title, answer_cnt, mem_seq 
	from qna
	where mem_seq = #{memSeq}
	order by seq desc
	</select>




	<!-- 응답 -->
	<!-- 전체조회 -->
	<select id="getList" resultType="QnaAnswerVO">
		SELECT SEQ
		, QNA_SEQ
		, TITLE
		, CONTENT
		, WRITER
		, GEN_DATE
		, UPT_DATE
		FROM QNA_ANSWER
		WHERE QNA_SEQ = #{qnaSeq}
	</select>

	<!-- 단건조회 -->
	<select id="read" resultType="QnaAnswerVO">
		SELECT SEQ
		, QNA_SEQ
		, TITLE
		, CONTENT
		, WRITER
		, GEN_DATE
		, UPT_DATE
		FROM QNA_ANSWER
		WHERE SEQ = #{seq}
	</select>

	<!-- 등록 -->
	<insert id="insert">
		<selectKey keyProperty="seq" resultType="long" order="BEFORE">
			SELECT SEQ_QNA_ANSWER.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO QNA_ANSWER ( SEQ
		, QNA_SEQ
		, TITLE
		, CONTENT
		, WRITER)
		VALUES ( #{seq}
		, #{qnaSeq}
		, #{title}
		, #{content}
		, #{writer} )
	</insert>

	<!-- 수정 -->
	<update id="update">
		UPDATE QNA_ANSWER
		SET TITLE = #{title}
		, CONTENT = #{content}
		, UPT_DATE = SYSDATE
		WHERE SEQ = #{seq}
	</update>

	<!-- 삭제 -->
	<delete id="delete">
		DELETE QNA_ANSWER
		WHERE SEQ = #{seq}
	</delete>


</mapper>