<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yedam.possable.app.car.mapper.CarMapper">
    <select id="getCarList" resultType="CarVO">
        SELECT seq,
               cmpn_seq,
               car_num,
               brand,
               model,
               segment,
               trim,
               color,
               year,
               fuel,
               passenger,
               mission,
               trunk,
               door,
               kmpl,
               price,
               img1,
               img2,
               img3,
               upt_date
        FROM car
    </select>
    <select id="getCar" resultType="CarVO">
        SELECT seq,
               cmpn_seq,
               car_num,
               brand,
               model,
               segment,
               trim,
               color,
               year,
               fuel,
               passenger,
               mission,
               trunk,
               door,
               kmpl,
               price,
               img1,
               img2,
               img3,
               upt_date
        FROM car
        WHERE seq = #{seq}
    </select>
    <select id="getCarOptions" resultType="CarOptionVO">
        SELECT opt_code
        FROM car_option
        WHERE car_seq = #{seq}
    </select>
    <select id="getCarInsurance" resultType="InsuranceOptionVO">
        SELECT opt_code,
               price
        FROM insurance_option
        WHERE car_seq = #{seq}
    </select>
    <select id="getCompanyCarList" resultType="CarVO">
        SELECT seq,
               cmpn_seq,
               car_num,
               brand,
               model,
               segment,
               trim,
               color,
               year,
               fuel,
               passenger,
               mission,
               trunk,
               door,
               kmpl,
               price,
               img1,
               img2,
               img3,
               upt_date
        FROM CAR
        WHERE CMPN_SEQ = #{seq}
    </select>
    <select id="getCompanyCar" resultType="CarVO">
        SELECT SEQ,
               BRAND,
               MODEL,
               SEGMENT,
               TRIM,
               COLOR,
               YEAR,
               FUEL,
               PASSENGER,
               MISSION,
               TRUNK,
               DOOR,
               KMPL,
               PRICE,
               STATUS,
               IMG1,
               IMG2,
               IMG3,
               GEN_DATE,
               UPT_DATE,
               CAR_NUM
        FROM CAR
        WHERE SEQ = #{seq}
        AND cmpn_seq = #{cmpnSeq}
        ORDER BY SEQ
    </select>
    <delete id="deleteCompanyCar">
        DELETE
        FROM CAR
        WHERE SEQ = #{seq}
          AND cmpn_seq = #{cmpnSeq}
    </delete>
    <update id="updateCompanyCar">
        UPDATE car
        <set>
            <if test="car.carNum != null">
                car_num = #{car.carNum}
            </if>
            <if test="car.brand != null">
                brand = #{car.brand}
            </if>
            <if test="car.model != null">
                model = #{car.model}
            </if>
            <if test="car.segment != null">
                segment = #{car.segment}
            </if>
            <if test="car.trim != null">
                trim = #{car.trim}
            </if>
            <if test="car.color != null">
                color = #{car.color}
            </if>
            <if test="car.year != null">
                year = #{car.year}
            </if>
            <if test="car.fuel != null">
                fuel = #{car.fuel}
            </if>
            <if test="car.passenger != null">
                passenger = #{car.passenger}
            </if>
            <if test="car.mission != null">
                mission = #{car.mission}
            </if>
            <if test="car.trunk != null">
                trunk = #{car.trunk}
            </if>
            <if test="car.kmpl != null">
                kmpl = #{car.kmpl}
            </if>
            <if test="car.price != null">
                price = #{car.price}
            </if>
            upt_date = SYSDATE
        </set>
        WHERE seq = #{car.seq}
        AND cmpn_seq = #{cmpn.seq}
        AND status NOT IN('CST02, CST03')
    </update>

    <update id="updateStatus">
        UPDATE car
        SET status = #{status},
            upt_date = SYSDATE
        WHERE seq = #{seq}
          AND cmpn_seq = #{cmpnSeq}
    </update>
    
    <!-- 차량 model 중복제거 리스트 조회 -->
    <select id="getDistinctCarList" resultType="CarVO">
    	SELECT *
		FROM (SELECT ROW_NUMBER() OVER(
		  								PARTITION BY MODEL
		  								ORDER BY SEQ ) CNT
		  			 , CAR.*
			  FROM CAR)
		WHERE CNT = 1
    </select>
    
    <!-- 해당 model을 보유한 업체 리스트 뽑아내기 위한 리스트 -->
    <select id="getCarByModel" resultType="CarVO">
    	SELECT CAR.*, COMPANY.NAME
		FROM CAR JOIN COMPANY
		ON CAR.CMPN_SEQ = COMPANY.SEQ
		WHERE MODEL = #{model}
    </select>
</mapper>
