<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yedam.possable.app.car.mapper.CarMapper">
    <resultMap id="car" type="CarVO">
        <id property="seq" column="seq" />
        <result property="cmpnSeq" column="cmpn_seq"/>
        <result property="carNum" column="car_num" />
        <result property="brand" column="brand" />
        <result property="segment" column="segment" />
        <result property="model" column="model"/>
        <result property="trim" column="trim"/>
        <result property="color" column="color" />
        <result property="year" column="year" />
        <result property="fuel" column="fuel" />
        <result property="passenger" column="passenger" />
        <result property="mission" column="mission" />
        <result property="trunk" column="trunk" />
        <result property="door" column="door" />
        <result property="kmpl" column="kmpl" />
        <result property="price" column="price" />
        <result property="status" column="status" />
        <result property="img1" column="img1" />
        <result property="img2" column="img2" />
        <result property="img3" column="img3" />
        <result property="genDate" column="gen_date" />
        <result property="uptDate" column="upt_date" />
        <association property="brandCodeVO"
                     column="brand"
                     select="com.yedam.possable.app.common.code.mapper.CodeMapper.getBrand"
                     javaType="BrandCodeVO"/>
        <association property="modelCodeVO"
                     column="model"
                     select="com.yedam.possable.app.common.code.mapper.CodeMapper.getModel"
                     javaType="ModelCodeVO"/>
        <association property="trimCodeVO"
                     column="trim"
                     select="com.yedam.possable.app.common.code.mapper.CodeMapper.getTrim"
                     javaType="TrimCodeVO"/>
        <association property="segmentCodeVO"
                     column="segment"
                     select="com.yedam.possable.app.common.code.mapper.CodeMapper.getCodeByValue"
                     javaType="CodeSubVO"/>
        <association property="missionCodeVO"
                     column="mission"
                     select="com.yedam.possable.app.common.code.mapper.CodeMapper.getCodeByValue"
                     javaType="CodeSubVO"/>
        <association property="colorCodeVO"
                     column="color"
                     select="com.yedam.possable.app.common.code.mapper.CodeMapper.getCodeByValue"
                     javaType="CodeSubVO"/>
        <association property="fuelCodeVO"
                     column="fuel"
                     select="com.yedam.possable.app.common.code.mapper.CodeMapper.getCodeByValue"
                     javaType="CodeSubVO"/>
        <association property="statusCodeVO"
                     column="status"
                     select="com.yedam.possable.app.common.code.mapper.CodeMapper.getCodeByValue"
                     javaType="CodeSubVO"/>
        <association property="companyVO"
                     column="cmpn_seq"
                     select="com.yedam.possable.app.company.mapper.CompanyMapper.companyOneSelect"
                     javaType="CompanyVO"/>
        <collection property="optionList"
                    column="seq"
                    resultMap="carOption"
                    ofType="CarOptionVO"/>
        <collection property="insuranceList"
                    column="seq"
                    resultMap="insuranceOption"
                    ofType="InsuranceOptionVO"/>
    </resultMap>

    <resultMap id="carOption" type="CarOptionVO">
        <id property="optCode" column="opt_code"/>
        <result property="optName" column="opt_name"/>
        <result property="carSeq" column="car_seq"/>
    </resultMap>
    <resultMap id="insuranceOption" type="InsuranceOptionVO">
        <id property="optCode" column="opt_code"/>
        <result property="optName" column="opt_name"/>
        <result property="price" column="price"/>
        <result property="carSeq" column="car_seq"/>
    </resultMap>

	<!-- 검색 기능 -->
	<sql id="criteria">
		<if test="model != null and model != ''">
			AND MODEL LIKE '%' || #{model} || '%'
		</if>
		<if test="segment != null and segment != ''">
			AND SEGMENT = #{segment}
		</if>
		<if test="fuel != null and fuel != ''">
			AND FUEL = #{fuel}
		</if>
		<if test="year != null and year != ''">
			AND YEAR = #{year}
		</if>
		<if test="brand != null and brand != ''">
			AND BRAND = #{brand}
		</if>
		<if test="passenger != null and passenger != ''">
			AND PASSENGER = #{passenger}
		</if>
		<if test="passenger = 5">
			AND PASSENGER >= #{passenger}
		</if>
	</sql>

    <!-- 차량 model 중복제거 리스트 조회 -->
    <select id="getDistinctCarList" resultType="CarVO">
		SELECT SEQ,
				BRAND,
				MODEL,
				SEGMENT,
				TRIM,
				COLOR,
				YEAR,
				FUEL,
				PASSENGER,
				MISSION,
				TRUNK,
				DOOR,
				KMPL,
				PRICE,
				STATUS,
				IMG1,
				IMG2,
				IMG3,
				GEN_DATE,
				UPT_DATE,
				CMPN_SEQ,
				CAR_NUM
		FROM (SELECT /*+ INDEX_DESC(CAR IDX_CAR) */ ROWNUM RN, a.*
		        FROM (SELECT ROW_NUMBER() OVER(PARTITION BY MODEL ORDER BY SEQ ) CNT, CAR.* FROM CAR) a
		        <where>
                	<include refid="criteria"></include>
                	<![CDATA[ AND CNT = 1 AND ROWNUM <= #{pageNum} * #{amount}) ]]>
                </where>
		WHERE RN > (#{pageNum} - 1) * #{amount}
    </select>

    <select id="getCarList" resultType="CarVO">
        SELECT seq,
               cmpn_seq,
               car_num,
               brand,
               model,
               segment,
               trim,
               color,
               year,
               fuel,
               passenger,
               mission,
               trunk,
               door,
               kmpl,
               price,
               img1,
               img2,
               img3,
               upt_date
        FROM car
    </select>
    <select id="getCar" resultMap="car">
        SELECT
            *
        FROM car
        WHERE seq = #{seq}
    </select>
    <select id="getCarOptions" resultMap="carOption">
        SELECT CO.opt_code,
               CS.name AS opt_name
        FROM car_option CO
            INNER JOIN code_sub CS ON CS.code = CO.opt_code
        WHERE car_seq = #{seq}
    </select>
    <select id="getCarInsurance" resultMap="insuranceOption">
        SELECT IO.opt_code,
               IO.price,
                CS.name AS opt_name
        FROM insurance_option IO
            INNER JOIN code_sub CS ON CS.code = IO.opt_code
        WHERE car_seq = #{seq}
    </select>
    <select id="getCompanyCarList" resultMap="car">
        SELECT
            *
        FROM CAR
        WHERE CMPN_SEQ = #{seq}
        ORDER BY SEQ DESC
    </select>
    <select id="getCompanyCar" resultMap="car">
        SELECT
            *
        FROM CAR
        WHERE SEQ = #{seq}
        AND cmpn_seq = #{companyVO.seq}
        ORDER BY SEQ
    </select>
    <delete id="deleteCompanyCar">
        DELETE
        FROM CAR
        WHERE SEQ = #{seq}
    </delete>
    <delete id="deleteOption">
    	DELETE
    	FROM CAR_OPTION
    	WHERE CAR_SEQ = #{carSeq}
    </delete>
    <delete id="deleteIns">
    	DELETE
    	FROM INSURANCE_OPTION
    	WHERE CAR_SEQ = #{carSeq}
    </delete>
    <update id="updateCompanyCar">
        UPDATE car
        <set>
            <if test="car.carNum != null">
                car_num = #{car.carNum}
            </if>
            <if test="car.brand != null">
                brand = #{car.brand}
            </if>
            <if test="car.model != null">
                model = #{car.model}
            </if>
            <if test="car.segment != null">
                segment = #{car.segment}
            </if>
            <if test="car.trim != null">
                trim = #{car.trim}
            </if>
            <if test="car.color != null">
                color = #{car.color}
            </if>
            <if test="car.year != null">
                year = #{car.year}
            </if>
            <if test="car.fuel != null">
                fuel = #{car.fuel}
            </if>
            <if test="car.passenger != null">
                passenger = #{car.passenger}
            </if>
            <if test="car.mission != null">
                mission = #{car.mission}
            </if>
            <if test="car.trunk != null">
                trunk = #{car.trunk}
            </if>
            <if test="car.kmpl != null">
                kmpl = #{car.kmpl}
            </if>
            <if test="car.price != null">
                price = #{car.price}
            </if>
            upt_date = SYSDATE
        </set>
        WHERE seq = #{seq}
        AND cmpn_seq = #{companyVO.seq}
        AND status NOT IN('CST02, CST03')
    </update>

    <update id="updateStatus">
        UPDATE car
        SET status = #{status},
            upt_date = SYSDATE
        WHERE seq = #{seq}
    </update>

    <!-- 해당 model을 보유한 업체 리스트 뽑아내기 위한 리스트 -->
    <select id="getCarByModel" resultType="CarVO">
    	SELECT CAR.*, COMPANY.*
		FROM CAR JOIN COMPANY
		ON CAR.CMPN_SEQ = COMPANY.SEQ
		WHERE MODEL = #{model}
    </select>

    <!-- seq로 보험 조회하기 -->
    <select id="getInsuranceByCar" resultType="CarVO">
    SELECT CAR.SEQ, INSURANCE_OPTION.OPT_CODE, INSURANCE_OPTION.PRICE
	FROM CAR JOIN INSURANCE_OPTION
	ON CAR.SEQ = INSURANCE_OPTION.CAR_SEQ
	WHERE SEQ = #{seq}
    </select>

    <insert id="insertCompanyCar">
    	<selectKey keyProperty="seq" resultType="long" order="BEFORE">
			SELECT SEQ_CAR.NEXTVAL FROM DUAL
		</selectKey>
    	INSERT INTO CAR(
				    	SEQ,
						BRAND,
						MODEL,
						SEGMENT,
						TRIM,
						COLOR,
						YEAR,
						FUEL,
						PASSENGER,
						MISSION,
						TRUNK,
						DOOR,
						KMPL,
						PRICE,
						STATUS,
						IMG1,
						IMG2,
						IMG3,
						GEN_DATE,
						UPT_DATE,
						CMPN_SEQ,
						CAR_NUM
						)
			 VALUES (
						#{seq},
						#{brand},
						#{model},
						#{segment},
						#{trim},
						#{color},
						#{year},
						#{fuel},
						#{passenger},
						#{mission},
						#{trunk},
						#{door},
						#{kmpl},
						#{price},
						'CST01',
						#{img1},
						#{img2},
						#{img3},
						sysdate,
						sysdate,
						#{cmpnSeq},
						#{carNum}
					)
    </insert>

    <insert id="insertCarOptions">
    	INSERT INTO CAR_OPTION(
    						 OPT_CODE,
    						 CAR_SEQ
							)
					VALUES(
							#{optCode},
							#{carSeq}
						  )
    </insert>

    <select id="getTotalCount" resultType="int">
		SELECT COUNT(*) FROM (
				SELECT ROW_NUMBER() OVER(PARTITION BY MODEL ORDER BY SEQ ) CNT, CAR.*
				FROM CAR)
		<where>
			<include refid="criteria" />
		</where>
	</select>

    <select id="getCarList_map" resultMap="car">
        SELECT * FROM (
        SELECT
        ROWNUM RN,
        C.seq,
        C.car_num,
        C.brand,
        C.segment,
        C.model,
        C.trim,
        C.color,
        C.year,
        C.fuel,
        C.passenger,
        C.mission,
        C.trunk,
        C.door,
        C.kmpl,
        C.price,
        C.status,
        C.img1,
        C.img2,
        C.img3,
        C.gen_date,
        C.upt_date,
        BRAND.name AS brand_name,
        SEGMENT.name AS segment_name,
        COLOR.name AS color_name,
        FUEL.name AS fuel_name,
        MISSON.name AS mission_name,
        STATUS.name AS status_name,
        MC.name     AS model_name,
        MC.img      AS model_img,
        TC.name     AS trim_name,
        CM.name     AS cmpn_name,
        CM.postal   AS cmpn_postal,
        CM.addr1    AS cmpn_addr1,
        CM.addr2    AS cmpn_addr2,
        CM.tel      AS cmpn_tel,
        CO.opt_code AS co_opt_code,
        IO.opt_code AS io_opt_code,
        IO.price    AS io_price
        FROM ( SELECT
        /*+ INDEX_DESC(CAR IDX_CAR) */
        *
        FROM car
        <where>
            <![CDATA[ ROWNUM <= #{pageNum} * #{amount} ]]>
        </where>
        ) C
        LEFT OUTER JOIN code_sub SEGMENT ON C.segment = SEGMENT.code
        LEFT OUTER JOIN code_sub COLOR ON C.color = COLOR.code
        LEFT OUTER JOIN code_sub FUEL ON C.fuel = FUEL.code
        LEFT OUTER JOIN code_sub MISSON ON C.mission = MISSON.code
        LEFT OUTER JOIN code_sub STATUS ON C.status = STATUS.code
        LEFT OUTER JOIN brand_code BRAND ON C.brand = BRAND.code
        LEFT OUTER JOIN model_code MC ON C.model = MC.code
        LEFT OUTER JOIN trim_code TC ON C.trim = TC.code
        LEFT OUTER JOIN company CM ON C.cmpn_seq = CM.seq
        LEFT OUTER JOIN car_option CO ON C.seq = CO.car_seq
        LEFT OUTER JOIN insurance_option IO ON C.seq = IO.car_seq
        )
        WHERE RN > (#{pageNum} - 1) * #{amount}
    </select>
</mapper>
