<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.possable.app.company.mapper.CompanyMapper">

	<sql id="criteria">
				
				<trim prefix="(" suffix=")" prefixOverrides="OR">
             		<foreach collection="typeArr" item="type">
             			<trim prefix="OR">
             				<choose>
				             	<when test="type == 'N'.toString()">
				                   NAME LIKE '%' || #{keyword} || '%'
				                </when>
				                <when test="type == 'A'.toString()">
				                   AREA LIKE '%' || #{keyword} || '%'
				                </when>
				                <when test="type == 'C'.toString()">
				                   CMPN_NUM LIKE '%' || #{keyword} || '%'
				                </when>
				                <when test="type == 'T'.toString()">
				                   TEL LIKE '%' || #{keyword} || '%'
				                </when>
             				</choose>
             			</trim>
             		</foreach>
             	</trim>
	</sql>
	
	<select id="getTotalCount" resultType="int">
			SELECT COUNT(*) 
			FROM COMPANY
				<where>
					<include refid="criteria"></include>
				</where>
	</select>
	
	<!-- 업체 등록 -->
	<insert id="companyReg">
		<selectKey keyProperty="seq" resultType="Long" order="BEFORE">
			SELECT SEQ_COMPANY.nextval FROM DUAL
		</selectKey>
			INSERT INTO COMPANY(SEQ,
				                NAME,
								POSTAL,
								CMPN_NUM,
								TEL,
								STATUS,
								GEN_DATE,
								UPT_DATE,
								MEM_SEQ,
								ADDR1,
								ADDR2,
								AREA)
				 
				  		VALUES(#{seq},
				                #{name},
								#{postal},
								#{cmpnNum},
								#{tel},
								'N',
								sysdate,
								sysdate,
								#{memberVO.seq},
								#{addr1},
								#{addr2},
								#{area}
				    )				
	</insert>
	
	
	<!-- 업체 미승인 리스트 -->
	<select id="companyRegList" resultType="CompanyVO">
		SELECT 
             /*+ INDEX_DESC (COMPANY IDX_COMPANY) */ 
             ROWNUM RN, SEQ,
						NAME,
						POSTAL,
						CMPN_NUM,
						ADDR1,
						ADDR2,
						AREA,
						TEL
        FROM COMPANY
        WHERE STATUS = 'N'
        ORDER BY SEQ DESC
        
	</select>
	
	<!-- 업체 승인 리스트 -->
	<select id="companyList" resultType="CompanyVO">
             SELECT 
             /*+ INDEX_DESC(IDX_COMPANY) */ 
             ROWNUM RN, SEQ,
						NAME,
						POSTAL,
						CMPN_NUM,
						ADDR1,
						ADDR2,
						AREA,
						TEL
             FROM COMPANY
               <where> 
                <include refid="criteria"></include>
                <![CDATA[   AND STATUS = 'Y' ]]>
                <![CDATA[   AND ROWNUM <= #{pageNum} * #{amount} ]]>
             </where>
            ORDER BY SEQ DESC
             
   </select>
   
   <!-- 업체 미승인 리스트 한건-->
   <select id="companyOneSelect" resultType="CompanyVO"	parameterType="CompanyVO">
	SELECT 	SEQ,
			NAME,
			POSTAL,
			CMPN_NUM,
			TEL,
			ADDR1,
			ADDR2,
			AREA,
			STATUS,
			GEN_DATE,
			UPT_DATE
		FROM COMPANY
		WHERE SEQ = #{seq}
	</select>
   
   <!-- 업체 승인 변경 -->
   <update id="companyRegUpdate">
   	 UPDATE COMPANY
		SET STATUS = 'Y',
			UPT_DATE = sysdate
			WHERE SEQ = #{seq}
   </update>
	
	<!-- 업체 승인 거부 -->
	<delete id="companyRegDelete">
		DELETE FROM COMPANY
		WHERE SEQ = #{seq}
	</delete>

	<!-- 업체 보유 렌트카 전체 리스트 -->
	<select id="companyCarList" resultType="CarVO"	parameterType="CarVO">
		SELECT  SEQ,
				BRAND,
				MODEL,
				YEAR,
				STATUS,
				IMG1
		FROM CAR
		WHERE CMPN_SEQ = #{companyVO.seq}
	</select>
	
	<!-- 업체 보유 렌트카 한건 -->
	<select id="companyCarOneSelect" resultType="CarVO"	parameterType="CarVO">
		SELECT SEQ,
				BRAND,
				MODEL,
				SEGMENT,
				TRIM,
				COLOR,
				YEAR,
				FUEL,
				PASSENGER,
				MISSION,
				TRUNK,
				DOOR,
				KMPL,
				PRICE,
				STATUS,
				IMG1,
				IMG2,
				IMG3,
				GEN_DATE,
				UPT_DATE,
				CMPN_SEQ,
				CAR_NUM
		FROM CAR
		WHERE SEQ = #{seq}
	</select>
	
</mapper>