<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yedam.possable.app.rent.mapper.PremiumRentMapper">
    <select id="getEstimateList" resultType="EstimateHistoryVO">
        SELECT *
        FROM ( SELECT
                    /*+ INDEX_DESC(tb IDX_ESTIMATE_HISTORY) */
                    ROWNUM RN,
                    seq,
                    brand,
                    segment,
                    model,
                    trim,
                    options,
                    items,
                    start_date,
                    end_date,
                    take_place_code,
                    take_place_basic,
                    take_place_detail,
                    gen_date,
                    upt_date,
                    mem_seq
                FROM estimate_history tb
                <where>
                    <![CDATA[ ROWNUM <= #{pageNum} * #{amount} ]]>
                </where>
        )
        WHERE RN > (#{pageNum} - 1) * #{amount}
    </select>

    <select id="getEstimate" resultType="EstimateHistoryVO">
        SELECT *
        FROM estimate_history
        WHERE seq = #{seq}
    </select>

    <insert id="insertEstimate" parameterType="EstimateHistoryVO">
        <selectKey keyProperty="seq" resultType="long" order="BEFORE">
            SELECT SEQ_ESTIMATE_HISTORY.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO estimate_history(
        seq,
        brand,
        segment,
        model,
        trim,
        start_date,
        end_date,
        options,
        items,
        take_place_code,
        take_place_basic,
        take_place_detail,
        mem_seq
        ) VALUES(
        #{seq},
        #{brand},
        #{segment},
        #{model},
        #{trim},
        #{startDate},
        #{endDate},
        #{options},
        #{items},
        #{takePlaceCode},
        #{takePlaceBasic},
        #{takePlaceDetail},
        #{memberVO.seq}
        )
    </insert>

    <update id="updateEstimate">
        UPDATE estimate_history
        <set>
            <if test="brand != null">brand = #{brand},</if>
            <if test="segment != null">segment = #{segment},</if>
            <if test="model != null">model = #{model},</if>
            <if test="trim != null">trim = #{trim},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="options != null">options = #{options},</if>
            <if test="items != null">items = #{items},</if>
            <if test="takePlaceCode != null">take_place_code = #{takePlaceCode},</if>
            <if test="takePlaceBasic != null">take_place_basic = #{takePlaceBasic},</if>
            <if test="takePlaceDetail != null">take_place_detail = #{takePlaceDetail},</if>
            upt_date = SYSDATE,
        </set>
        WHERE seq = #{seq}
    </update>

    <delete id="deleteEstimate">
        DELETE FROM estimate_history
        WHERE seq = #{seq}
    </delete>

    <select id="getEstimateCount" resultType="int">
        SELECT COUNT(*)
        FROM estimate_history
    </select>
    <!-- 마이페이지 유저 프리미엄 견적 리스트 -->
    <select  id="getUserEstimateList" resultType="EstimateHistoryVO">
		    SELECT * 
			FROM( SELECT  
				/*+ INDEX_DESC(tb IDX_ESTIMATE_HISTORY) */
	              ROWNUM RN,
	              e.SEQ,
	              e.BRAND,
	              e.SEGMENT,
	              e.MODEL,
	              e.TRIM,
	              e.OPTIONS,
	              e.ITEMS,
	              e.START_DATE,
	              e.END_DATE,
	              e.TAKE_PLACE_CODE,
	              e.GEN_DATE,
	              e.UPT_DATE,
	              e.TAKE_PLACE_BASIC,
	              e.TAKE_PLACE_DETAIL,
	              e.MEM_SEQ
	        FROM ESTIMATE_HISTORY e INNER JOIN MEMBER m
	        ON e.MEM_SEQ = m.seq
	        <where>
	        	<![CDATA[ ROWNUM <= #{cri.pageNum} * #{cri.amount} ]]>
	        </where>
	        AND m.seq = #{seq}
              )
				WHERE RN > (#{cri.pageNum} - 1) * #{cri.amount}
    </select>
    <!-- 업체용 견적 제출 확인 리스트 -->
   	<select id="compEstiSubmitList" resultType="CompEstiListJoinVO" >
   			SELECT  e.SEQ, 
					e.ESTI_SEQ, 
			        e.CAR_SEQ,
			        e.CMPN_SEQ,
			        eh.MEM_SEQ,
			        c.BRAND, 
			        c.MODEL,
			        c.SEGMENT,
			        c.COLOR,
			        c.KMPL,
			        c.FUEL,
			        c.PASSENGER,
			        c.TRUNK,
			        c.DOOR,
			        c.MISSION,
			        c.YEAR,
			        e.ITEMS, 
			        e.PRICE, 
			        e.MEMO,
			        e.GEN_DATE, 
			        e.UPT_DATE,
			        com.NAME,
			        com.TEL
	        FROM esti_submit_history e INNER JOIN CAR c
	        ON c.seq = e.car_seq
	        INNER JOIN COMPANY com
	        ON com.seq = c.cmpn_seq
	        JOIN estimate_history eh
       		ON e.esti_seq = eh.seq
	        WHERE e.cmpn_seq= #{seq}
   	</select>
   <!--프리미엄 렌트카 한건 조회 -->
   	<select id ="compEstiSubmitOneSelect" resultType="CompEstiListJoinVO">
   			SELECT  e.SEQ, 
					e.ESTI_SEQ, 
			        e.CAR_SEQ,
			        e.CMPN_SEQ,
			        eh.MEM_SEQ,
			        c.BRAND, 
			        c.MODEL,
			        c.SEGMENT,
			        c.COLOR,
			        c.KMPL,
			        c.FUEL,
			        c.TRUNK,
			        c.PASSENGER,
			        c.DOOR,
			        c.MISSION,
			        c.YEAR,
			        e.ITEMS, 
			        e.PRICE, 
			        e.MEMO,
			        e.GEN_DATE, 
			        e.UPT_DATE,
			        com.NAME,
			        com.TEL
	        FROM esti_submit_history e INNER JOIN CAR c
	        ON c.seq = e.car_seq
	        INNER JOIN COMPANY com
	        ON com.seq = c.cmpn_seq
	        JOIN estimate_history eh
       		ON e.esti_seq = eh.seq
	        WHERE e.seq= #{seq}
   	</select>
</mapper>
