<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.possable.app.rent.mapper.PaymentMapper">

	<!-- 결제정보 DB 입력 -->
	<insert id="paymentInsert">
		<selectKey keyProperty="seq" resultType="Long" order="BEFORE">
			SELECT SEQ_RENT_HISTORY.nextval FROM DUAL
		</selectKey>
		INSERT INTO RENT_HISTORY(
					SEQ
					, RENT_TYPE
					, START_DATE
					, END_DATE
					, RECEIVER
					, PRICE
					, ESTIMATE
					, STATUS
					, TAKE_PLACE_CODE
					, TAKE_PLACE_BASIC
					, TAKE_PLACE_DETAIL
					, MERCHANT_UID
					, PAY_METHOD
					, CAR_SEQ
					, MEM_SEQ
		)
		VALUES(
				#{seq}
				, #{rentType}
				, #{startDate}
				, #{endDate}
				, #{receiver}
				, #{price}
				, #{estimate}
				, #{status}
				, #{takePlaceCode}
				, #{takePlaceBasic}
				, #{takePlaceDetail}
				, #{merchantUid}
				, #{payMethod}
				, #{carSeq}
				, #{memSeq}
		)
	</insert>

	<!-- 결제완료 후 내역 조회(rent_history seq를 이용해 단건조회) -->
	<select id="paymentOneSelect" resultType="RentHistoryVO">
		SELECT * 
		FROM RENT_HISTORY
		WHERE SEQ = #{seq}
	</select>
	
	<!-- 렌트히스토리 조회 -->
	<select id="paymentList" resultType="RentHistoryVO">
		SELECT * 
		FROM RENT_HISTORY
		WHERE MEM_SEQ = 2
		AND STATUS = '예약완료'
	</select>
	
	<!-- 결제취소 시 RENT_HISTORY 테이블 처리 -->
	<update id="paymentCancel">
		UPDATE RENT_HISTORY
		SET STATUS = '예약취소'
		WHERE MERCHANT_UID = #{merchantUid}
	</update>
	
	<!-- 렌트 내역 가장 최근 seq 조회 -->
	<select id="readSeq" resultType="Long">
		SELECT SEQ 
		FROM RENT_HISTORY
		WHERE MERCHANT_UID = #{merchantUid}
	</select>
	<!-- 회원 렌트 내역 조회 -->
	<select id="rentHistoryList" resultType="RentHistoryVO">
      SELECT *
      FROM (
             SELECT
             /*+ INDEX_DESC(RENT_HISTORY IDX_RENT_HISTORY) */
             ROWNUM RN,
             h.SEQ ,
             h.CAR_SEQ, 
             h.MEM_SEQ, 
             m.NAME,
             h.PRICE, 
             h.PAY_METHOD, 
             h.TAKE_PLACE_BASIC,
             h.TAKE_PLACE_DETAIL,
             h.MERCHANT_UID, 
             h.START_DATE, 
             h.END_DATE 
             FROM RENT_HISTORY h INNER JOIN MEMBER m
             ON h.MEM_SEQ = m.SEQ
            <where>
                <![CDATA[   AND ROWNUM <= #{cri.pageNum} * #{cri.amount} ]]>
            </where>
             and m.SEQ = #{seq}
          )
    		WHERE RN > (#{cri.pageNum} - 1) * #{cri.amount}
	</select>
</mapper>