<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.possable.app.rent.mapper.PaymentMapper">

	<!-- 결제정보 DB 입력 -->
	<insert id="paymentInsert">
		<selectKey keyProperty="seq" resultType="Long" order="BEFORE">
			SELECT SEQ_RENT_HISTORY.nextval FROM DUAL
		</selectKey>
		INSERT INTO RENT_HISTORY(
					SEQ
					, RENT_TYPE
					, START_DATE
					, END_DATE
					, RECEIVER
					, PRICE
					, ESTIMATE
					, STATUS
					, TAKE_PLACE_CODE
					, TAKE_PLACE_BASIC
					, TAKE_PLACE_DETAIL
					, MERCHANT_UID
					, PAY_METHOD
					, CAR_SEQ
					, MEM_SEQ
		)
		VALUES(
				#{seq}
				, #{rentType}
				, #{startDate}
				, #{endDate}
				, #{receiver}
				, #{price}
				, #{estimate}
				, #{status}
				, #{takePlaceCode}
				, #{takePlaceBasic}
				, #{takePlaceDetail}
				, #{merchantUid}
				, #{payMethod}
				, #{carSeq}
				, #{memSeq}
		)
	</insert>

	<!-- 결제완료 후 내역 조회(rent_history seq를 이용해 단건조회) -->
	<select id="paymentOneSelect" resultType="RentHistoryVO">
		SELECT * 
		FROM RENT_HISTORY
		WHERE SEQ = #{seq}
	</select>
	
	<!-- 렌트히스토리 조회 -->
	<select id="paymentList" resultType="RentHistoryVO">
		SELECT * 
		FROM RENT_HISTORY
		WHERE MEM_SEQ = 2
		AND STATUS = '예약중'
	</select>
	
	<!-- 결제취소 시 RENT_HISTORY 테이블 처리 -->
	<update id="paymentCancel">
		UPDATE RENT_HISTORY
		SET STATUS = '예약취소'
		WHERE MERCHANT_UID = #{merchantUid}
	</update>
	
	<!-- 렌트 내역 가장 최근 seq 조회 -->
	<select id="readSeq" resultType="Long">
		SELECT SEQ 
		FROM RENT_HISTORY
		WHERE MERCHANT_UID = #{merchantUid}
	</select>
	
</mapper>