<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.possable.app.rent.mapper.RentHistoryMapper">
	
	<resultMap id="rentHistory" type="RentHistoryVO">
		<id property="seq" column="seq" />
		<result property="rentType" column="rent_type" />
		<result property="startDate" column="start_date" />
		<result property="endDate" column="end_date" />
		<result property="receiver" column="receiver" />
		<result property="price" column="price" />
		<result property="estimate" column="estimate" />
		<result property="status" column="status" />
		<result property="genDate" column="gen_date" />
		<result property="uptDate" column="upt_date" />
		<result property="takePlaceCode" column="take_place_code" />
		<result property="takePlaceBasic" column="take_place_basic" />
		<result property="takePlaceDetail" column="take_place_detail" />
		<result property="merchantUid" column="merchant_uid" />
		<result property="payMethod" column="pay_method" />
		<result property="phone" column="phone" />
		<result property="birth" column="birth" />
		<result property="email" column="email" />
		<result property="receiverB" column="receiver_b" />
		<result property="phoneB" column="phone_b" />
		<result property="birthB" column="birth_b" />
		<result property="emailB" column="email_b" />
		
		<association property="carVO"
	    			 column= "car_seq"	
	    			 columnPrefix="car_"
	    			 resultMap="com.yedam.possable.app.car.mapper.CarMapper.car"
	    			 javaType="CarVO"/>
	    			  
		<association property="memberVO"
	                 column="mem_seq"
	                 columnPrefix="mem_"
	                 resultMap="com.yedam.possable.app.member.mapper.MemberMapper.member"
	                 javaType="MemberVO"/>
	                 
		<association property="companyVO"
	    			 column="cmpn_seq"
	    			 columnPrefix="cmpn_"
	    			 resultMap="com.yedam.possable.app.company.mapper.CompanyMapper.company"
	    			 javaType="CompanyVO"/>
	</resultMap>
	
	<!-- 업체 렌트내역 리스트 -->
	<select id="getRentHistoryList" resultType="RentHistoryVO">
             SELECT
             /*+ INDEX_DESC(RENT_HISTORY IDX_RENT_HISTORY) */
             ROWNUM RN, SEQ,
						CAR_SEQ,
						MEM_SEQ,
						RENT_TYPE,
						START_DATE,
						END_DATE,
						RECEIVER,
						TAKE_PLACE_CODE,
						PRICE,
						ESTIMATE,
						STATUS,
						GEN_DATE,
						UPT_DATE,
						TAKE_PLACE_DETAIL,
						TAKE_PLACE_BASIC,
						MERCHANT_UID,
						PAY_METHOD,
						CMPN_SEQ,
						<![CDATA[case When (SELECT count(*) FROM RENT_REVIEW where HISTORY_SEQ =RENT_HISTORY.seq) > 0 	THEN '2'
						              When trunc(END_DATE) < trunc(sysdate) then '1' 
						              else '0' end ]]>AS review 
					
             FROM RENT_HISTORY
             WHERE CMPN_SEQ = #{cmpnSeq}
	</select>
	
	<!-- 업체 렌트내역 한건 -->
	<select id="getRentHistory" resultType="RentHistoryVO">
             SELECT		SEQ,
						CAR_SEQ,
						MEM_SEQ,
						RENT_TYPE,
						START_DATE,
						END_DATE,
						RECEIVER,
						TAKE_PLACE_CODE,
						PRICE,
						ESTIMATE,
						STATUS,
						GEN_DATE,
						UPT_DATE,
						TAKE_PLACE_DETAIL,
						TAKE_PLACE_BASIC,
						MERCHANT_UID,
						PAY_METHOD,
						CMPN_SEQ,
						<![CDATA[case When (SELECT count(*) FROM RENT_REVIEW where HISTORY_SEQ =RENT_HISTORY.seq) > 0 	THEN '2'
						              When trunc(END_DATE) < trunc(sysdate) then '1' 
						              else '0' end ]]>AS review 
             FROM RENT_HISTORY
             WHERE SEQ = #{seq}
	</select>
	
	<!-- 회원 렌트 내역 조회 -->
	<select id="MyPageRentHistoryList" resultType="RentHistoryVO">
      SELECT *
      FROM (
             SELECT
             /*+ INDEX_DESC(RENT_HISTORY IDX_RENT_HISTORY) */
             ROWNUM RN,
             h.SEQ ,
             h.CAR_SEQ, 
             h.MEM_SEQ, 
             m.NAME,
             h.PRICE, 
             h.PAY_METHOD, 
             h.TAKE_PLACE_BASIC,
             h.TAKE_PLACE_DETAIL,
             h.MERCHANT_UID, 
             h.START_DATE, 
             h.END_DATE,
             h.RECEIVER,
             h.STATUS,
             h.RENT_TYPE,
             h.CMPN_SEQ,
             <![CDATA[case When (SELECT count(*) FROM RENT_REVIEW where HISTORY_SEQ =h.seq) > 0 	THEN '2'
						              When trunc(END_DATE) < trunc(sysdate) then '1' 
						              else '0' end ]]>AS review 
             FROM RENT_HISTORY h INNER JOIN MEMBER m
             ON h.MEM_SEQ = m.SEQ
            <where>
                <![CDATA[   AND ROWNUM <= #{cri.pageNum} * #{cri.amount} ]]>
            </where>
             and m.SEQ = #{seq}
          )
    		WHERE RN > (#{cri.pageNum} - 1) * #{cri.amount}
	</select>
	
	<select id="getHistoryCount" resultType="int">
        SELECT COUNT(*)
        FROM RENT_HISTORY
    </select>
</mapper>