<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.possable.app.community.report.mapper.ReportMapper">
	
	<sql id="criteria">
				<trim prefix="(" suffix=")" prefixOverrides="OR">
             		<foreach collection="typeArr" item="type">
             			<trim prefix="OR">
             				<choose>
				             	<when test="type == 'T'.toString()">
				                   TARGET LIKE '%' || #{keyword} || '%'
				                </when>
				                <when test="type == 'W'.toString()">
				                   WRITER LIKE '%' || #{keyword} || '%'
				                </when>
				                <when test="type == 'G'.toString()">
				                   GEN_DATE LIKE '%' || #{keyword} || '%'
				                </when>
             				</choose>
             			</trim>
             		</foreach>
             	</trim>
	</sql>
	
	<!-- 전체 수 계산기능 -->
	<select id="getTotalCount" resultType="int">
			SELECT COUNT(*)
			FROM REPORT_BOARD
				<where>
					<include refid="criteria"></include>
				</where>
	</select>
	
	<!-- 신고글 리스트 -->
	<select id="getReportList" resultType="ReportVO">
		SELECT * FROM (
		SELECT /*+ INDEX_DESC(REPORT_BOARD IDX_REPORT_BOARD) */
		ROWNUM RN, SEQ, TARGET, WRITER, REASON, GEN_DATE, REPORTER
		FROM REPORT_BOARD
		<where>
			<include refid="criteria"></include>
	                <![CDATA[   AND ROWNUM <= #{pageNum} * #{amount} ]]>
		</where>
		ORDER BY SEQ DESC
		)
		WHERE RN > (#{pageNum} - 1) * #{amount}
	</select>
	
	<!-- 신고글 한건 -->
	<select id="getReport" resultType="ReportVO">
		SELECT r.SEQ,r.TARGET,r.WRITER,
				r.REASON,
				r.GEN_DATE,
				r.REPORTER,
                m.seq memSeq
		FROM REPORT_BOARD r join member m on r.writer = m.id where r.seq = #{seq}
	</select>
	
	<insert id="insert">
		<selectKey keyProperty="seq" resultType="long" order="BEFORE">
			SELECT SEQ_REPORT_BOARD.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO REPORT_BOARD VALUES (#{seq}, #{writer}, #{reason}, SYSDATE, #{target}, #{reporter})
	</insert>
	
	<select id="reportCount" resultType="int">
		SELECT COUNT(*) FROM REPORT_BOARD WHERE TARGET = #{seq} AND REPORTER = #{reporter}
	</select>
</mapper>